@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, Arial, sans-serif;
    color: azure;
}

h3 {
    font-size: 35px;
    letter-spacing: 2px;
    font-family: Lato, sans-serif;
}

/* header and nav bar */

header {
    height: 25vh;
    position: relative;
    background: #02010a;
}


#nav-bar {
    float: right;
    position: relative;
    letter-spacing: 1px;
    font-size: .7rem;
}

#nav-bar li {
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
    margin-top: 2vh;
    margin-right: 25px;
}

#nav-bar a {
    text-decoration: none;
    color: azure;
}

#nav-bar a:hover {
    border-bottom: 1px solid azure;
}


/* logo */

h1 {
    font-family: Lato, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
}

h2 {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    position: absolute;
    top: 70px;
}    

#logo, h2 {
    margin-left: 20px;
    color: azure;
}

#logo {
    float: left;
    font-size: 50px;
}

#nav-bar, #logo {
    line-height: 75px;
}

/* hero video section */

#hero-container {
    height: 70vh;
    background-color:#04052e;
}

#hero-container video {
    height: auto;
    width: 100%;
    filter: grayscale(100%);
}

#hero-container h3 {
    text-align: center;
}

#hero-container p {
    margin-left: 1vh;
    margin-right: 1vh;
}

/* testimonial slider */

#testimonials {
    height: 45vh;
    width: 100%;
    background-image: url('../images/puk-khantho-sWbGwr1fOUk-unsplash.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-color: #02010a;
	position: relative;
	overflow: hidden;
	padding-bottom: 2%;
}

#testimonials h3 {
	text-align: center;
}

.slide-move {
	display: flex;
	position: relative;
	top: 0; right: 0;
  }
  
.slides {
	width: 100%;
	flex-shrink: 0;
	box-sizing: border-box;
	padding: 10px;
  }

@keyframes slideh {
	
	0% { right: 0%; }
	13% { right: 0%; }
	26% { right: 100%; }
	39% { right: 100%; }
	52% { right: 200%; }
	65% { right: 200%; }
	78% { right: 300%; }
	92% { right: 300%; }
	100% { right: 0; }
  }
.slide-move { animation: slideh linear 30s infinite; }
.slide-move:hover { animation-play-state: paused; }
	

/* meet the band section */

#meet-the-players {
    height: 240vh;
    background-color: #02010a; 
}

#meet-the-players h3 {
    text-align: center;
	padding-top: 5%; 
}

.bios {
    margin: 4% 2%;
}

.bios h4 {
    text-align: center;
	text-decoration: underline;
    font-size: 1.2rem;
}

#picture1 {
    content: url(../images/Ben.jpg);
    position: relative;
    height: 20vh;
    width: 33%;
    left: 33vw;
    margin-bottom: 2%;
}

#picture2 {
    content: url(../images/Clem.jpg);
    position: relative;
    height: 20vh;
    width: 33%;
    left: 33vw;
    margin-bottom: 2%;
}

#picture3 {
    content: url(../images/Mike.jpg);
    position: relative;
    height: 20vh;
    width: 33%;
    left: 33vw;
    margin-bottom: 2%;
}

#picture4 {
    content: url(../images/image_6483441.JPG);
    position: relative;
    height: 20vh;
    width: 33%;
    left: 33vw;
    margin-bottom: 2%;
}

#picture5 {
    content: url(../images/Mark.jpg);
    position: relative;
    height: 20vh;
    width: 33%;
    left: 33vw;
    margin-bottom: 2%;
}

/* songlist section */

#songlist-container {
    height: 220vh;
    width: 100%;
    background-color: #02010a;
}

#songlist-container h3 {
    text-align: center;
    margin-bottom: 10%;

}

#songlist-container h4 {
    font-size: 1.5rem;
    text-decoration: underline;
}

#songlist-container ul {
    list-style: none;
}

.lists {
    text-align: center;
    margin: 2% 5%;
}

/* live video section */

#video-container {
    height: 90vh;
    background: #04052e; 
}

#video-container h3 {
    text-align: center;
}

#video-container video {
    width: 100%;
    height: 75vh;
    margin-top: 2%;
}

/* image carousel */

#image-container {
    height: 150vh;
    background: #04052e;
}

.carousel-container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}

#proparallax {
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 37.5rem;
	border: 10px solid black;
	box-shadow: 0px 8px 10px 8px grey;
}	

#proparallax img {
	position: absolute;
	max-width: 100%;
	height: 37.5rem;
	overflow: hidden;
	object-fit: cover;
}

@keyframes parallax_one { /* controls img.one movement */
	0% { 
		height: 37.5rem;
		width: 50rem;
		left: 0rem;
		opacity: 1;
	}
	
	27.77% { 
		width: 50rem;
		left: 0rem;
	}
	27.78% { 
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	33.33% { 
		height: 37.5rem;
		width: 0rem;
		left: 0rem;
		right: 0rem;
		opacity: 1;
	}
	33.34% { 
		opacity: 0;	
	}
	94.43% { 
		left: 0rem;
		opacity: 0;
	}
	94.44% { 
		height: 37.5rem;
		width: 0rem;
		left: 50rem;
		opacity: 1;
	}
	100% { 
		width: 50rem;
		left: 0rem;
		opacity: 1;		
	}
}

@keyframes parallax_two { 
	0% { 
		opacity: 0;
	}
	27.77% { 
		left: 0rem;
		opacity: 0;
	}
	27.78% { 
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;
	}
	33.33% { 
		width: 50rem;
		left: 0rem;
	}
	
	61.10%{ 
		width: 50rem;
		left: 0rem;
	}
	61.11% { 
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	66.67% { 
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
	66.68% { 
		opacity: 0;
	}
	100% { 
		opacity: 0;
	}
}

@keyframes parallax_three { /* controls img.three movement */
	0% { /* .imageoff */
		opacity: 0;
	}
	61.10%{ /* .imageon */
		opacity: 0;
	}
	61.11% { /* .imageinitial */
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;		
	}
	66.67% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	/* .imagehold runs from 66.67% - 94.43% */
	94.43% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	94.44% { /* .imagepreunload */
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	100% { /* imageunloaded */
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
}

@keyframes parallax_four { /* controls img.three movement */
	0% { /* .imageoff */
		opacity: 0;
	}
	61.10%{ /* .imageon */
		opacity: 0;
	}
	61.11% { /* .imageinitial */
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;		
	}
	66.67% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	/* .imagehold runs from 66.67% - 94.43% */
	94.43% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	94.44% { /* .imagepreunload */
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	100% { /* imageunloaded */
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
}

@keyframes parallax_five { 
	0% { /* .imageoff */
		opacity: 0;
	}
	61.10%{ /* .imageon */
		opacity: 0;
	}
	61.11% { /* .imageinitial */
		width: 0rem;
		height: 37.5rem;
		left: 50rem;
		opacity: 1;		
	}
	66.67% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	/* .imagehold runs from 66.67% - 94.43% */
	94.43% { /* .imageloaded */
		width: 50rem;
		left: 0rem;
	}
	94.44% { /* .imagepreunload */
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	100% { /* imageunloaded */
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 37.5rem;
		opacity: 1;
	}
}

#proparallax img.one{
	animation-name: parallax_one; /* controls img.one movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 30s;
	object-fit: cover;
}

#proparallax img.two {
	animation-name: parallax_two; /* controls img.two movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 30s;
	object-fit: cover;
}

#proparallax img.three {
	animation-name: parallax_three; /* controls img.three movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 30s;
	object-fit: cover;
}

#proparallax img.four {
	animation-name: parallax_three; /* controls img.three movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 30s;
	object-fit: cover;
}

#proparallax img.five {
	animation-name: parallax_three; /* controls img.three movement */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 30s;
	object-fit: cover;
}

/* packages available */

#packages-container {
    height: 135vh;
    background: azure;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#packages-container .card {
    margin: 10% 10% 5% 10%;
}

.card {
    width: 230px;
    height: 350px;
    padding: 30px;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 46px -4px rgba(13, 0, 164, 0.6);
	top: 1.5em;
}

.card h3 {
    text-align: center;
    font-size: 1.6rem;
}

.card h5 {
    margin-top: 8%;
    text-align: center;
}

#card-1 {
    background-color: #140152;
	margin-top: 10%;
}

#card-2 {
    background-color: #0d00a4;
}

#card-3 {
    background-color: #02010a;
}

.options {
    font-size: 1.1rem;
    position: relative;
    margin-bottom: 10px;
    margin-top: 25px;
}

.list-items {
    margin: 20px 5px;
}

.list-items li {
    font-size: 1rem;
    margin-top: 2%;
}

/* contact us section */

#form-container {
    height: 85vh;
    background: #22007c;
}

#form-container h3 {
    text-align: center;
}

input[type=text]  {
    width: 20em;
    padding: 10px;
    border: 5px solid #02010a;
    box-sizing: border-box;
	position: relative;
	left: 5%;
	margin-top: 10%;
}

input[type=email] {
    width: 20em;
    padding: 10px;
    border: 5px solid #02010a;
    box-sizing: border-box;
	position: relative;
	left: 6%;
	margin-top: 5%;
}

input[type=submit] {
    font-size: 20px;
    border: 5px solid #02010a;
    box-sizing: border-box;
	text-align: center;
	position: relative;
	top: 2em;
	right: 4em;
}

label {
    font-size: 20px;
    padding-left: 15px;
}

label[for="message"] {
    position: relative;
	text-align: center;
	top: 3.5em;
	right: 3em;
}


label[for="email"] {
	position: relative;
	left: 3%;
	margin-top: 2%;
}

label[for="name"] {
    position: relative;
	left: 3%;
	margin-top: 15%;
}

label[for="event"] {
    position: relative;
	left: 3%;
}

select {
	position: relative;
    width: 10em;
    padding: 10px;
    border: 5px solid #02010a;
    box-sizing: border-box;
	left: 6%;
	margin-top: 5%;
}

textarea {
	position: relative;
    margin-top: 18%;
    width: 18em;
	left: 20%;
}

/* footer */

footer {
    background: azure;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: auto;
    padding: 2%;
}

/* media queries */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
	header {
		height: 15vh;
	}
	#nav-bar {
		font-size: 1rem;
	}   
}

/* media queries tablet max-width 950px */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  {
	body {
		font-size: 1.8em;
	}	
	h3 {
		font-size: 1.7em;
	}
	header {
		height: 8vh;
	}
	#nav-bar {
		font-size: 1em;
	}
	#hero-container {
		height: 70vh;
	}
	#meet-the-players {
		height: 210vh;
		text-align: center;
	}
	#meet-the-players h4 {
		font-size: 1.4em;
	}
	#songlist-container {
		height: 150vh;
		background: url(../images/claus-grunstaudl-dKeB0-M9iiA-unsplash\ \(1\).jpg) center;
	}
	#songlist-container h4 {
		font-size: 1.2em;
	}
	.lists {
		display: inline-block;
		margin-top: 3%;
	}
	#image-container {
		height: 80vh;
	}
	#packages-container {
		height: 60vh;
	}
	.card {
		display: inline-block;
	}
	.card li {
		font-size: .8em;
	}
	#card-3 {
		left: 24%;
		position: relative;
	}
}