@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, Arial, sans-serif;
    color: azure;
}

h3 {
    font-size: 25px;
    letter-spacing: 2px;
    font-family: Lato, sans-serif;
}

/* header and nav bar */

header{
    height: 110px;
    position: relative;
    background: #02010a;
}


#nav-bar {
    float: right;
    position: absolute;
    right: 0;
    letter-spacing: 2px;
}

#nav-bar li {
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
    margin-top: 20px;
    margin-right: 25px;
}

#nav-bar a {
    text-decoration: none;
    color: azure;
}

#nav-bar a:hover {
    border-bottom: 1px solid #0d00A4;
    
}

/* logo */

h1 {
    font-family: Lato, sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

h2 {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    position: absolute;
    top: 70px;
}    

#logo, h2 {
    margin-left: 20px;
    color: azure;
}

#logo {
    float: left;
    font-size: 50px;
}

#nav-bar, #logo {
    line-height: 75px;
}

/* hero video section */

#hero-container {
    height: 500px;
    background-color:#140152;
    color: azure;
}

/* about band section */

#band-container {
    height: 300px;
    background: #02010a;
}

#band-container p {
    float: right;
    text-align: left;
    margin-right: 25%;
    margin-top: 2%;
    color: azure;
}

#container-image {
    float: left;
    margin-left: 10%;
    margin-top: 18px;
}

/* testimonials */

#testimonials {
    height: 500px;
    width: 100%;
    background-image: url('../images/puk-khantho-sWbGwr1fOUk-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* meet the players section */

#bios {
    height: 400px;
    width: 100%;
    background: #02010a;
}

#bios h3 {
    text-align: center;
}

/* meet the band section */

#meet-the-players {
    height: 800px;
    background-color: #140152; 
}

#meet-the-players h3 {
    text-align: center;
}


.headshots {
    height: 125px;
    width: 125px;
    float: left; 
    filter: grayscale(100%);
}

#about-left {
    padding-top: 30px;
    width: 50%;
    float: left; 
}

#about-right {
    padding-top: 30px;
    width: 50%;
    float: left;    
}

.leftside-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.rightside-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.bottom-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#about-bottom {
    width: 50%;
    text-align: center;
    margin-left: 33%;
}

/* songlist section */

#songlist-container {
    height: 1200px;
    width: 100%;
    background-color: #0d00a4;
}

#songlist-container h3 {
    text-align: center;
}

.songlist-top-groups {
    width: 100%;
    display: inline-flex;
    margin-top: 2%;
}

.songlist-middle-groups {
    width: 100%;
    display: inline-flex;
    margin-top: 5%;
}

.songlist-bottom-groups {
    width: 100%;
    display: inline-flex;
    margin-top: 5%;
}

.songlist-left {
    width: 20%;
    margin-left: 10%;
    margin-top: 2%;
}

.songlist-middle {
    width: 20%;
    margin-left: 10%;
    margin-top: 2%;
}

.songlist-right {
    width: 20%;
    margin-left: 10%;
    margin-top: 2%;
}